[2019-07-12 20:16] samarthmaniar opened #2 "execution is breaking when stdout returns a string with first character as number"
I observed this today while running better-npm-audit, while reading stdout for `npm audit` command in index.js, if ids are set to something like "0m│http,npmj,1012,http,npmj,1012,http,npmj,1012", then it breaks the execution as following code in index.js returns "[ '0m│\u001b' ]"

`const numberIds = ids.map(id => {
        if (isNaN(parseInt(id, 10))) {
          return null;
        }
        ret

[2019-07-13 05:23] jeemok commented on #2
Thanks for the report! I've published a patch for this. Please install version `0.1.7` for the updates.
Closing this issue now, please let me know if you have any question.

Cheers,
Mok

[2019-07-13 05:23] #2 closed

[2020-05-10 13:01] archfz opened #4 "Support for the --audit-level flag passing to npm audit"
It would be nice to only consider vulnerabilities after a given level.

[2020-05-10 13:59] jeemok commented on #4
hmm it would be hard to implement with the current method - reads the vulnerability IDs from the generated report using a simple regex:

[code]

One way that I can think of doing this is by collecting all the severity levels (low, high, critical, etc.) and also collecting all the vulnerability IDs, and map them together, but this might not be 100% accurate. I can add the flag `--audit-level` and p

[2020-07-08 09:41] IPWright83 opened #5 "Support the --production flag"
It would be helpful if this supported some of the other commands such as the `production` flag that NPM supports.

[2020-07-08 12:08] IPWright83 commented on #4
I've put a Pull Request together that allows support for this, as-well as accommodating a production flag that I've raised another issue for.

Simplest approach was to use JSON for the processing.

[2020-07-09 04:00] #5 closed

[2020-07-09 04:16] jeemok commented on #4
JSON approach looks great! Thank you for contributing @IPWright83

[2020-07-09 04:44] jeemok commented on #4
I tested with a few repositories, for some of my old repositories they have many vulnerabilities warnings, that I think resulted in an oversized buffer exceeds the [limit](https://nodejs.org/api/child_process.html#child_process_maxbuffer_and_unicode) and caused the child process to be terminated:

here I get the incomplete JSON buffer:

[code]

[2020-07-09 08:29] #4 closed

[2020-07-09 12:10] IPWright83 commented on #4
@jeemok just to check re-reading this.

The buffer size shouldn't be a problem with the JSON approach as it just keeps adding to the `jsonBuffer` string via `stdout`. I think that's just going to keep streaming regardless of buffer size - or have I misunderstood there? That's specifically why I ended up listening to the end of the stream to parse the JSON because it was invalid unless you'd obtain

[2020-07-09 13:48] jeemok commented on #4
@IPWright83 so I was testing with my old repository that has lots of vulnerabilities, and the JSON was invalid as the child process close before receiving all the chunks from the streaming. The default maximum size for the `maxBuffer` allowed was 1,048,576 bytes (1024 * 1024) stated in the [documentation](https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_ca

[2020-07-09 13:50] Deiiv opened #8 "Using --full doesn't print the raw logs when an error is encountered"
The flag --full, described as "Display full report", only prints the full report when no vulnerability is found. However, this flag should print the full report in both cases.

Normal usage without --full (-f):

Command: `node node_modules/better-npm-audit audit`

![image](https://user-images.githubusercontent.com/24512337/87048198-6ed10200-c1c9-11ea-962b-289c7d14e727.png)

Using --full (-f):

Com

[2020-08-19 03:59] jeemok commented on #8
Hi @Deiiv, sorry for the late response. The `-f` full flag is meant for security reports that are way too long (that could probably take up to 5 minutes to render in your terminal on your screen, hence we limit it to a maximum length for the report)

Currently, when there are vulnerabilities found, we wouldn't show the report, but definitely can show it out too. I'll patch a new flag for this over

[2020-08-20 08:54] jeemok commented on #8
Published `v1.3.0` included this changes

[2020-08-20 08:54] #8 closed

[2020-10-28 09:21] dimitrisfasoulas opened #11 "Option to save ignored vulnerabilities."
Right now if we are using a package that has a vulnerability in a method that we don't use, we can choose to ignore the specific vulnerability with -i flag. If we want to make this permanent (to pass CI/CD pipelines for example) then we can add this to the npm script in package.json.

I think it would be better if there is an option to save ignored vulnerabilities to a separate file and read them

[2020-10-28 10:49] jeemok commented on #11
That's a good idea, [NSP had it last time](https://github.com/nodesecurity/nsp#exceptions). We could reimplement that depreciated feature to read into `.nsprc` file that looked like this:
[code]

[2021-02-09 17:24] mgdodge opened #13 "Does not work with npm 7"
I have an old project that has known vulnerabilities right now (35 low, 4 moderate, 8 high). Running better-npm-audit, I would expect it to throw an error, but it does not. The screen output shows the result of the npm audit, with "All good!" at the end. This is a really, really big problem.

It seems that the latest version includes the following code, which essentially creates an empty object wh

[2021-02-10 04:47] jeemok commented on #13
Hey, @mgdodge I'm so sorry for the problem caused and thank you so much for reporting this. I have reverted the changes for now and published a new minor version `1.5.0`, will look into the new changes as shared in the article carefully and create a PR soon

[2021-03-01 12:45] jeemok commented on #13
Hi @mgdodge sorry that v7 support takes a while, I have published a new version `v1.7.0` that supports both npm v6 and v7 altogether: https://github.com/jeemok/better-npm-audit/commit/a39b56ff3cdc2183e12bb9cac9710aa3f77675c7 Please install and use the latest version.

Cheers,
Mok

[2021-03-01 12:45] #13 closed

[2021-03-10 22:53] lachlan-harris commented on #11
Thanks for your consideration on this one.
I would also suggest adding the addition timestamp into the structure, allowing for extension to features like "ignoring until", etc.
[code]
Also suggesting an object to allow extensibility in the future.

[2021-03-11 12:37] jeemok commented on #11
Hi @dimitrisfasoulas  @lachlan-harris I have added the file support to `v1.8.0`, please read the documentation for the available feature :)

[2021-03-11 12:37] #11 closed

[2021-04-26 14:11] alertme-edwin opened #19 "A found vulnerability results in "throw new Error(message)""
Thanks for this excellent npm package.  I was slightly surprised, though, that when a vulnerability is found by the audit, the output includes 20 lines more than the usual `npm audit`, including a stacktrace and `npm` denying all responsibility with its `This is probably not a problem with npm.` message.

There are times when throwing exceptions is the right way to control code flow, but the user

[2021-04-26 16:30] alertme-edwin opened #20 "Provide more output when parsing exceptions file"
I really appreciate the ability to specify an `expiry` time for exceptions, but I must admit it took me a few attempts to realise that I had specified the timestamp in seconds rather than milliseconds.  Unfortunately the README doesn't make this clear, and nor is there any indication in the output of the audit that an invalid `expiry` time has been specified.

Fixing those would be really helpful,

[2021-04-27 03:59] jeemok commented on #19
Thanks for the feedback! I think that's a good suggestion, I was thinking of adding Eslint into this project for a long time but didn't really do it until now. I will look into exits strategy later. PRs are welcome if you'd like to contribute too :)

[2021-05-15 08:16] #19 closed

[2021-05-20 14:39] alertme-edwin opened #23 "IDs on the exception list missing from "audit" output"
Thanks for the great version 1.9.1 update.  I've installed it and run the audit again, but there seems to have been a small regression with the output.  Here is a section from the audit report:

[code]

My guess is that `consoleUtil` on line 135:

`consoleUtil.info('Exception vulnerabilities ID(s): ', exceptionIds);`

does not work the way `console` did.

[2021-05-20 14:43] alertme-edwin opened #24 "Other output formatting issues"
When there are vulnerabilities found, the code does:

`process.exit(1);`

which causes output like this:

[code]

(with the hashes being my redactions).  The pull request said that it now exits "cleanly", so I'm wondering if my npm or terminal config is incorrect.

Similarly, I'm getting output like this:

[code]

(with the hashes redacting the package name and version number), which suggests ther

[2021-05-23 09:49] jeemok commented on #24
yeah, I don't have test cases for the report output yet (I assume you're on npm v6). I added the coloring to the console log as it seems to "pollute" the rest of the message with the same color (I think because it got stopped before it finished), it looks like this:

<img width="880" alt="Screen Shot 2021-05-23 at 5 44 02 PM" src="https://user-images.githubusercontent.com/26216852/119255492-b77d88

[2021-05-23 09:52] jeemok commented on #24
and thank you for raising issues and helping to give suggestions! I'll try my best to improve this library :)

[2021-05-23 10:13] jeemok commented on #23
you're right! sorry for the mistake, will release a patch version soon

[2021-05-23 10:16] #23 closed

[2021-05-23 11:12] #24 closed

[2021-05-23 11:15] jeemok commented on #24
@alertme-edwin can you try with `v1.9.2`?

[2021-05-24 13:49] alertme-edwin commented on #24
`v1.9.2` fixes the weird line-break issue, thank you so much!

I don't think I was having problems with the presence of colours, as such.  The line-break issue just looked more strange when it was interacting with the sequences responsible for the colours.

I'm happy for there to be more use of colours/bold like the basic `npm audit` provides.

(Yes, I'm still using npm v6, which I hope is okay).

[2021-05-24 13:51] alertme-edwin commented on #23
I can confirm the patch works.  Thanks for the new version!

[2021-05-27 02:47] jeemok commented on #24
yeah I realized it was not efficient to display the output immediately when we receive the buffer. Thanks for raising this issue! and feel free to suggest more areas to improve :) happy that you like this version

[2021-05-27 15:56] alertme-edwin opened #27 "Hide excepted vulnerabilities from output"
I've had another UX idea which you might like to consider.

Given that the output is often very long and has to be truncated, I think it would be nice to remove the little ASCII art cards/tables for vulnerabilities that are in the exceptions list.  That way, the output would just be the list of exceptions and the "All good!" message if all vulnerabilities have been dealt with.

I suppose someone m

[2021-05-27 15:59] alertme-edwin commented on #20
If there were a "test exceptions file" command, another feature it should have is outputting a warning when it detects an expired exception.

I'm imagining a situation where someone adds an exception, then forgets about it, then fixes the vulnerability as part of some other work, and doesn't remove the exception.

[2021-05-27 16:03] alertme-edwin opened #28 "Missing [ in truncation message"
Just another small issue while I'm reporting things.  I get output like this:

[code]

From the code, it looks like there should be a `[` at the start of the line, which would look nicer.  I'm not sure what is swallowing that.

[2021-05-28 07:34] jeemok commented on #28
hmm I couldn't reproduce this on my side, do you mind sharing more information? like the version, or more of the logs output (I can't see the triple dots `...` above the `MAXIMUM EXCEEDED` line too)

[2021-05-28 07:49] jeemok commented on #27
I like your idea on this! I could probably do a custom render list of all the found vulnerabilities (besides the exceptions given), but I think it might be difficult to truncate yet maintain the ASCII art table rendered by the npm audit command.

The straightforward solution to this is to build the ASCII art table using the info we get by ourselves (luckily I think we have all the information from

[2021-05-28 09:40] alertme-edwin commented on #28
Sure, thanks for looking at this.

I'm running npm `6.14.4` and better-npm-audit `1.9.2`.  The first `...` is what I used to represent the backscroll, containing the ASCII-art tables of vulnerability details, and the last `...` represents the remaining few lines of the output, i.e. white space and the `🤝  All good!` message.

[2021-05-28 09:50] alertme-edwin commented on #27
Improving the performance like that sounds great!

I was hoping that it would require only a _relatively_ simple state machine to detect the start of each table, and store it in a separate buffer until the `More info` line is read, and then throw away that buffer if the listed advisory relates to one of the exceptions.

Building the ASCII art tables from data parsed by the package itself would be

[2021-05-31 07:59] guillermaster opened #30 "Node version 14.17.0 is not supported"
The `better-npm-audit `does not work with the most recent Nodejs version. I am using version  14.17.0 and it throws an exception. I think it is because this version of Node has a breaking change in the way the `npm audit` command returns the results.

Below is the error message from the exception.

`const vulnerabilities = Object.values(advisories)`
                                   ^

[code]

[2021-05-31 14:13] jeemok commented on #30
hey @guillermaster ! 👋🏻  thanks for reporting it! hmm, I couldn't locate that line of code, may I know which version of this library are you using?

[2021-06-01 04:53] guillermaster commented on #30
Hi @jeemok. I'm using version 1.3.1. It works well with environments using Node version 14.11.0 but not on those using 14.17.0.

[2021-06-01 06:22] jeemok commented on #30
I couldn't find anything in the [v14 changelog](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V14.md) mentioning changes on the audit command. I think this is related to these issue/PR

- https://github.com/jeemok/better-npm-audit/issues/13
- https://github.com/jeemok/better-npm-audit/pull/12

and has been fixed in the newer versions, can you please try with `v1.9.2`?

[2021-06-01 08:09] guillermaster commented on #30
@jeemok you are right. The issue has been fixed on the version 1.9.2. Thank you!

PS: It'd be good to have a changelog in the repository 😉

[2021-06-01 08:10] guillermaster commented on #30
This is a duplicated issue. The author, @jeemok , has already solved the issue in the latest version.

[2021-06-01 08:10] #30 closed

[2021-06-01 08:45] jeemok commented on #30
yeah, I think that's a good practice, will definitely keep that in mind for newer releases!

[2021-06-01 23:26] Schweinepriester opened #31 "Start maintaining a changelog or adding tags for releases"
… so it's faster to get a glance of what's new :)

Even only tags would help to (faster) compare versions via the commit history.

[2021-06-03 21:35] pyymenta opened #32 "Show skip reason on output"
Hi there,

First of all, I have to say that you guys are doing a good job with this lib!

Then, here's my question:

There's a way to show the ignore reason of each vulnerabilities as we show the advisories `id`?

![image](https://user-images.githubusercontent.com/13206817/120714820-1ae2a200-c49a-11eb-8a48-1d42775775ed.png)

Thank you guys!

[2021-06-04 03:27] jeemok commented on #32
thanks, @pyymenta! yeah, I think that's a good idea and definitely doable, will make the changes this weekend! Is there any display format you'd prefer? (since you're the feature requester 😃 ) I'm thinking maybe:

[code]

[2021-06-04 03:28] jeemok commented on #31
definitely, will start it on the next release!

[2021-06-04 03:33] jeemok commented on #28
it looks weird to me as it should have triple dots `...` above the warning message, e.g.:

[code]

and I couldn't reproduce it on my side running with `1.9.2`. Anyway, I think coming very soon we might improve the library performance and output rendering by creating the ASCII table ourselves, and this could be handled more gently too. I will post more updates in this issue if I managed to gather m

[2021-06-04 12:05] pyymenta commented on #32
Seems great @jeemok!! Love it! We could have an option to enable/disable this feature too.

Thank you guys, if you need some help, feel free to ask me! I'd be glad to help you!

[2021-06-06 14:04] #31 closed

[2021-06-06 14:16] jeemok commented on #32
I think the option to enable/disable this feature is a good idea, any idea what should we name the flag?

[2021-06-07 01:59] pyymenta commented on #32
I think this could be a flag in the `.nsprc` file:

[code]

Because we won't specify the ignore reason of each advisories outside of `.nsprc` file. What do you think?

[2021-06-07 03:28] jeemok commented on #32
ah I was thinking a general flag like `--show-reason` or `--display-skip-notes`, it might be useful if we want to display all the notes, or not display (I think this two will be the common use cases)

[2021-06-07 03:55] jeemok commented on #32
How does this look? with flag `--display-notes`

<img width="441" alt="Screen Shot 2021-06-07 at 11 54 59 AM" src="https://user-images.githubusercontent.com/26216852/120956895-3219dc00-c787-11eb-8a9c-0f980d628fcb.png">

[2021-06-07 04:03] jeemok commented on #32
@pyymenta I've published the beta version, you can install it by installing `better-npm-audit@next`. Please let me know if it works well for you and I'll put it into the main version

[2021-06-07 12:23] pyymenta commented on #32
Seems great @jeemok!

![image](https://user-images.githubusercontent.com/13206817/121015676-a184d100-c771-11eb-82de-6ec693d1a750.png)

Could we add some `\n`?

[code]

Good job!! :heart:

[2021-06-07 14:38] jeemok commented on #32
no problem :)

[2021-06-07 14:39] #32 closed

[2021-06-07 15:30] pyymenta commented on #32
Good job @jeemok :clap: :clap: :clap: :clap: :clap: :clap: :clap: :clap: :clap: :clap: :clap: :clap: :clap: :clap: :clap: :clap: :clap:

Thank you!

[2021-06-08 01:27] jeemok commented on #32
thanks @pyymenta ! 👍🏻

[2021-06-10 08:43] alertme-edwin commented on #28
Just to confirm, I am still seeing this with version `1.10.1`.  Here is another example of a section from near the end of the audit output:

[code]

(Again I've redacted some of the specific details of the vulnerabilities that I used in this test set up, to not draw too much focus to individual packages).

Don't worry if you can't reproduce this on your machine.  I look forward to seeing any updat

[2021-06-10 16:13] jmac105 opened #35 "Support level being passed in as an environment variable"
Hi,

I'd find it really useful if the level option could be passed in as an environment variable, as it can be to the native `npm audit` command via `NPM_CONFIG_AUDIT_LEVEL` environment variable. This would allow for setting a global audit level across all of our CI pipeline builds, some of which use 'npm audit' and some of which use 'better-npm-audit audit'.

Would you consider a PR which would s

[2021-06-10 17:12] alertme-edwin commented on #28
I've been looking into this more, and I think I have a better understanding of it.  Firstly, I see what you mean about expecting "`...`" in the output (and I can confirm I don't see it).  More importantly, though, I think the problem might be related to a bug in NodeJS itself (there have been various issues filed, but one that is still open is #6379), and there is potentially a workaround.

Have a

[2021-06-11 03:14] jeemok commented on #28
I see... hmm this is interesting. However, I think this could be solved together when we implemented our own display method, I was researching about NPM v6 and v7 audit report format and thinking which one should I be using (or none of them). I will try to work on it this weekend (hope I have enough time 🤞🏻)

[2021-06-11 03:28] jeemok commented on #35
yeah I think that is a good idea, let me prepare the PR now

[2021-06-11 03:38] jeemok commented on #35
@jmac105 you can now install and use it in `v1.11.0`. Thanks for the suggestion! :)

[2021-06-11 03:38] #35 closed

[2021-06-11 08:38] jmac105 commented on #35
Awesome thanks for actioning it so quickly!

[2021-06-22 02:45] #20 closed

[2021-06-22 02:45] #27 closed

[2021-06-22 02:45] #28 closed

[2021-07-02 15:30] alertme-edwin opened #46 "Support non-milli Unix timestamps"
I've had another idea that I think might make this tool even more convenient.  The idea actually occurred to me when I made a mistake in copy-pasting a timestamp from an online converter into the `.nsprc` config file, so I think other users may encounter the same problem, but I'm happy to report that the `list of exceptions` table helped me to work out what I did wrong, so this is not a major issu

[2021-07-03 04:42] jeemok commented on #46
I think that's a good idea, using Unix timestamp might not be user-friendly after all; and I agree to the overlong expiry date! it kinda encourages more people to ignore and leave it there after. I will work on this probably over next weekend 👍🏻

[2021-07-03 04:44] #46 closed

[2021-07-08 09:52] alertme-edwin opened #48 "Check for .nsprc files in dependencies"
I don't know if the tool already does this, but it would be really great for the ecosystem if the maintainers of popular packages could include an `.nsprc` file in the packages they distribute.  I'm imagining a situation where a package has a dependency on another packages which has a vulnerability reported against it, but the parent package isn't in practice exploitable because it doesn't use the

[2021-07-08 11:46] jeemok commented on #48
I think that is a great initiative we could start here, it shouldn't be a problem to look through the dependencies chain for the `.nsprc` file and notes left by the maintainers; but you are right about the issue on how should we determine the validity of a reported vulnerability?

Perhaps we could start by simply checking if there is any `.nsprc` file managed by the package and display the informa

[2021-07-12 21:19] alertme-edwin commented on #48
Yes, it would be good to see what sort of information the tool can find in the `.nsprc` files of a project's dependencies.

The only danger I can imagine is a situation where someone is maintaining package `A`, which has dependency chains `A`->`B`->`C` and `A`->`D`->`C`, and the developer of `B` has correctly indicated in `B`'s `.nsprc` that the vulnerability in `C` doesn't affect `B`, but `D` sti

[2021-07-12 21:24] alertme-edwin opened #50 "Report when the .nsprc file is present but not (valid) JSON"
While testing the latest version, I made a small mistake when updating the `.nsprc` file which meant the file was no longer valid JSON.   It only took me a moment to realise why none of the exclusions were being applied, but a beginner might be more confused (especially if they are using an editor which doesn't warn them about JSON validity issues in their files).

Hopefully it's a small change to

[2021-07-12 21:37] alertme-edwin opened #51 "README doesn't fully document "expiry""
In the `Fields` section of the `README.md` file, the `Description` text for the `expiry` row lists only `UNIX timestamp`, and probably needs to say `Human-readable date, or milliseconds since the UNIX Epoch` instead.

Actually I think it would be better to support seconds rather than milliseconds (since no one will be specifying a value more precise than 1 second, and I think most online tools use

[2021-07-14 15:49] #48 closed

[2021-07-14 15:49] #50 closed

[2021-07-18 10:48] jeemok commented on #51
I think that's a much clearer description 👍🏻 I've updated the README and published it in `v3.1.2`.

Regarding the seconds support, what if we support both seconds and milliseconds?

e.g. if a value of `1626604806766` (13 digits) is given, we will treat it as milliseconds; and if `1626604831` (10 digits) is given, we will treat it as seconds. I think it should be safe to assume by digits as for our

[2021-07-19 11:23] alertme-edwin commented on #51
The README looks right, and I like the idea of supporting both seconds and milliseconds.  My only concern about doing so is that it makes it harder to document (and implement and test).  As no one needs to specify a value with more precision than 1 second, it might be confusing to offer that option, but I suppose there are some tools that will default to using the millisecond format of timestamp (

[2021-08-04 08:07] s0rthak opened #55 "[Suggestion] Add path to modules with reported vulnerability in the new UI"
Hi!

First of all, the new interface to the tool is great. It's so much more cleaner to go through now.

Would it be possible to show the path to the module with the reported vulnerability in the new UI?

Here's a example output:
![image](https://user-images.githubusercontent.com/13705757/128144234-3622c295-cf17-438e-989d-ea232dfb8178.png)
(I'm using npm v6 with node 14 right now)

This is from a

[2021-08-05 15:54] jeemok commented on #55
hey @s0rthak, sorry for the late response. Yes, its definitely possible with npm v6 👍🏻  there is a sample mock of v6 audit response here https://github.com/jeemok/better-npm-audit/blob/master/test/__mocks__/v6-json-buffer.json you can refer to. However, this `paths` value might not be available or the same with npm v7 audit report (I found `nodes` but I think it is a different thing), but I think

[2021-08-05 15:54] #55 closed

[2021-08-07 08:14] jeemok commented on #51
Sorry for the late reply to this! I had a look at this again and I think you're right, the README documentation is still kinda confusing. "Epoch" or Unix timestamp should represent seconds, but [the current logic](https://github.com/jeemok/better-npm-audit/blob/master/src/utils/date.ts#L19) takes in the value and parsed it as milliseconds, using these functions:

- parsing library and function: `d

[2021-09-02 23:43] jdevalk2 commented on #51
Just a note that in the documentation for expiry, the examples state
- '2020-01-31'
- '2020/01/31'
...
As valid examples,  this is misleading at best and plain wrong at worst

In JSON they are not valid entries, you have to use double quotes  "2020/01/31"

Also better audit does not tell you if the JSON is invalid,  it just continues like it does not have the file.

I would recommend changing the

[2021-10-07 10:09] dimitrisfasoulas opened #58 ".nsprc seems to ignore exceptions when advisories have fields"
having an .nsprc with the following format:

`
{
  "1002373": "some notes"
}`

works. When I run it the first thing I see is the advisory that the exception is in effect.

[code]
If I add fields then the exception is ignored.

Tried the following :
[code]

[code]

[code]

They all have the following output:

[code]

node version: v14.18.0
npm version: 7.24.2

[2021-10-07 10:16] #58 closed, assigned to nobody

[2021-10-12 00:59] guillermaster opened #60 "Use new GitHub CVE ID"
Hi @jeemok

Now that the [NPM vulnerabilities advisory have been migrated to GitHub](https://github.blog/2021-10-07-github-advisory-database-now-powers-npm-audit/), the vulnerabilities identifier has changed. Vulnerabilities are now identified by a CVE ID that is an alphanumeric code, as you can see in this example [Prototype Pollution in set-value](https://github.com/advisories/GHSA-4jqc-8m5r-9rp

[2021-10-14 11:04] alertme-edwin opened #61 "DeprecationWarning: Invalid 'main' field in ... node_modules/better-npm-audit/package.json' of 'lib/index.js'"
I recently upgraded to `npm@8.0.0` (and `nodejs@v16.11.1`) and I'm getting the message:

when running `npm run audit`.  Presumably that's because the `index.js` file is actually at the top level of the package's directory tree, and not in a `lib` directory.  The tool still seems to function, but hopefully this is an easy fix.

[2021-10-19 08:58] Pouja opened #62 "Process keeps hanging on Windows 10"
The process keeps hanging in a happy flow (when there are no issues reported). I think this is because the buffer doesn't close properly on Windows due to not properly listing to the kill signal of the child process.

This can be fixed by adding `process.exit(0)` after https://github.com/jeemok/better-npm-audit/blob/master/src/handlers/handleFinish.ts#L49

[2021-12-01 14:06] jeemok commented on #62
Thanks for reporting @Pouja ! I've released a [new version](https://www.npmjs.com/package/better-npm-audit/v/3.5.1) and it should be fixed now

[2021-12-01 14:06] #62 closed

[2021-12-01 14:07] jeemok commented on #61
Thanks @alertme-edwin for reporting this! I've released [a new version](https://www.npmjs.com/package/better-npm-audit/v/3.5.1) and this should be fixed now 👍🏻

[2021-12-01 14:07] #61 closed

[2021-12-02 00:11] Schweinepriester opened #64 "(Add option to) remove vulnerabilities below specified level in the table"
While running
[code]
leads to a different output at the end (e.g. "12 vulnerabilities found") versus

[code]

(e.g. "25 vulnerabilities found"), all vulnerabilities with a severity/level below "high" are still present in the displayed table.

So I'd like (an option) to get the table with only the level specified (and higher).

[2021-12-13 10:14] alertme-edwin commented on #61
Yup, that works.  Thanks so much @jeemok!

I don't know if this means you now have more time to work on this amazing project, but I think I will create a separate issue about the `\n` strangeness I'm seeing (as mentioned in discussion number 53), and maybe other people will be able to `+1` it if they can reproduce it on their systems.

Also, I keep seeing discussions about false positives in `npm

[2021-12-13 10:59] alertme-edwin opened #65 "Weird formatting in table and handling of \n"
As mentioned in discussion #53, the `npm audit security report` table sometimes has unexpected spaces and missing letters.  For example, a package with a dependency on `ansi-regex` (version 3.0.0 or similar) can cause the table to include this value in the `Title` column:

[code]

This is for an `Ex.`cluded vulnerability, so it appears as black text on a white background in a terminal with a light

[2022-01-17 21:59] hope-church-tritech opened #66 "Json parse failure messages are misleading under some circumstances."
When an error occurs parsing the json from `npm audit` result while running `better-npm-audit audit`, the error message is:
[code]
regardless of whether there is a .nsprc file.

The offending line is: https://github.com/jeemok/better-npm-audit/blob/0b7259f8969148ae81a74b801be1070c11c77d91/src/utils/common.ts#L23

[2022-01-18 08:58] jeemok commented on #66
Hi @hope-church-tritech, thanks for reporting this. I think it could be the JSON output from the `npm audit` result being invalid/incomplete.

May I know what would you see if you put a `console.log('jsonBuffer', jsonBuffer);` in your `/node_modules/better-npm-audit/index.js` around line 35, and run it again?

[code]

[2022-01-18 14:44] hope-church-tritech commented on #66
The particular issue I was having was that the stderr & stdout of `npm audit` were both blank, causing the aforementioned output. This seems misleading since the `.nsprc` file was not where the invalid json was originating from, which was the impetus for writing up this issue.

I've already found and fixed what was causing my specific problem, which is that an ENOENT error occurs when trying to ca

[2022-01-28 12:17] florianbader opened #67 "Audit should provide info if it affects dev dependency or production"
When running the audit it would be great to have a separate column that indicates if the found vulnerability only affects a dev dependency or also a production dependency.
This makes it easier to decide if it should be excluded e.g. high severity on dev dependency is probably not as problematic as on production dependencies.

[2022-02-15 03:59] alexburkowskypolysign opened #69 "[Feature Request] Ignore by module name"
It would be great to have a cli flag to ignore a module name like `lodash` rather than dealing with the recurring ID's that pop up for it. Thanks for all the great work on this tool!

[2022-02-17 16:06] jwerre opened #70 "Support for YAML in .nsprc"
It would be nice to be able to use YAML in `.nsprc` config file.

[2022-02-23 12:13] jeemok commented on #69
thank you for your PR @alexburkowskypolysign! I've published it under [v3.6.0](https://www.npmjs.com/package/better-npm-audit/v/3.6.0)

[2022-02-28 07:43] ocean89 commented on #60
Any updates on this? :)

[2022-03-02 15:16] jeemok commented on #60
Hi @ocean89, sorry that I didn't post an update on this issue. The last time I checked, this would require a major rework in processing the security report and might need to handle existing numeric values for backward compatibility. At the moment I don't have much capacity to work on it and would appreciate it if anyone can help with this

[2022-03-04 23:58] knightsg opened #72 "Target specific package versions in --module-ignore"
It would be very handy for us if we could target specific package versions in the --module-ignore flag so that we don't have to come back and manually update our whitelists once we update problematic package versions. For example:

[code]

[2022-03-07 16:51] kyleclark1824 commented on #60
I did put in a PR for a first crack at implementing this. I'm sure it could use some polishing but may be a good starting point.

https://github.com/jeemok/better-npm-audit/pull/73

[2022-03-09 13:42] ZedLove commented on #60
This change is essentially required for this package to continue to be useful and I think it should be prioritized. The IDs provided by `npm audit` have been changing rapidly over the past few days; in some cases I've seen a vulnerability have three or four different IDs

[2022-03-10 11:26] jeemok commented on #60
I agree to prioritize this, perhaps there is no feasible solution to support the v7 report now (due to lack of info provided in the audit report), but let's focus on v6 support first 👍🏻

[2022-03-10 18:02] jeemok commented on #60
hey all, I've published the `beta` version (or [v3.7.0](https://www.npmjs.com/package/better-npm-audit/v/3.7.0)) for supporting CVE, CWE, GHSA, and URL IDs. Please try it out and let me know if there is an issue, otherwise, I will republish it under the latest tag next week.

Thank you all again for this amazing support 👍🏻

[2022-03-10 18:52] kyle-clark1824 commented on #60
Thank you @jeemok for the update and this great project!

[2022-03-11 01:15] jeemok commented on #60
you're right @ZedLove, I will update the README to describe more in detail what is supported; in summary:
- npm v6: supports ID (numeric), CVEs, CWE, URL (if it contains GHSA ID)
- npm v7+: supports ID (numeric) & URL (if it contains GHSA ID)

you can refer to these two functions that handle v6 and v7+ advisory for what it checks:
- v6: https://github.com/jeemok/better-npm-audit/blob/beta/src/util

[2022-03-11 18:47] ZedLove commented on #60
@jeemok I've noticed that, despite ignoring the advisories based on GHSA IDs, I am still seeing the notice about the IDs not matching any found vulns

e.g.
[code]

[2022-03-12 18:25] archfz opened #75 "Ignore all vulnerabilities from dependencies installed by given package"
Using the option `-m` can only ignore vulnerabilities in a specific package. It would be nice if we could ignore a whole package and it's child dependencies (packages installed by it). I believe this could be included in the same `-m` option.

So for example if I have `node-sass` installed, and it brings `node-forge` and `trim-newlines` with security vulnerabilities, `-m node-sass` would ignore bo

[2022-03-14 21:55] rulrok commented on #75
I just run into this situation myself.

There is one package that I know it is safe to ignore.
And only it has many vulnerable dependencies which ends up generating quite some noise on the final report.

My suggestion is that it could be a new feature, instead of using the already existing `-m` flag, maybe a new one.

`--tree-ignore | -t` 👀

[2022-03-15 15:56] jeemok commented on #72
hey @knightsg, thanks for the suggestion, definitely a good idea 👍🏻 let me look into this as soon as I get time, but feel free to open a PR :)

[2022-03-15 16:10] jeemok commented on #75
as we all know the different versions in npm has big discrepancies by the information provided in the report, hence this feature might be difficult to handle properly for e.g. npm v6 and v7;

in v6, we might be able to analyze the dependencies tree using the `path` field: https://github.com/jeemok/better-npm-audit/blob/master/test/__mocks__/v6-json-buffer.json#L813

however, in v7+, it seems like

[2022-03-18 10:01] alertme-edwin opened #76 "Weird wording in "It can be removed" message"
I've just been updating some dependencies of a project I'm working on, and an `npm run audit` produced this message before the `All good!`:

There are two problems with this:

* It looks like a (one element) list is missing in the text `any of the found vulnerabilites: .`
* The word `vulnerabilites` should be `vulnerabilities` (which has the correct spelling the other two times it occurs).

Sorry

[2022-03-19 14:09] jeemok commented on #76
ah, nice catch @alertme-edwin! I'm looking at this message now too, let me fix it together

[2022-03-19 16:19] jeemok commented on #60
hey @ZedLove, I've updated the unused exception handler and published it under `v3.7.1`. Please have a try and let me know if there is an issue :)

the version `v3.7.1` is published under the `latest` tag, I'll mark this issue closed. Thank you all for your contribution to this!

[2022-03-19 16:19] #60 closed

[2022-03-19 16:20] jeemok commented on #76
hey, @alertme-edwin I've published the fix under `v3.7.1`, please let me know if there is any issue :) thank you as always!

[2022-03-19 16:20] #76 closed

[2022-03-21 09:01] huineng commented on #76
doesn't seem to work, i have not excluded anything, .nprmc file is empty and i have this message

[code]

this message appears "after" upgrading to 3.7.2, with 3.6.0 i didn't have that message

ps when i fill in a "dummy" entry in .npmrc i see this message, it might help you debugging

[code]

thanks

[2022-03-21 15:57] jeemok commented on #76
thanks for reporting @huineng. In your testing, do you mean `1064864` is correctly showing but not the modules? Could you provide me with these details:
- which npm version are you running on?
- what command and flags did you run?

I'm suspecting you might have accidentally passed in empty value with the ignore-module flag, but either way it would probably be good to check on falsy value before re

[2022-03-21 16:06] jeemok commented on #76
@huineng can you try again on v3.7.3?

[2022-03-21 16:22] huineng commented on #76
All good !

![image](https://user-images.githubusercontent.com/3482445/159305242-8fda32f0-96ce-4916-9335-cb654ee5e496.png)

[2022-04-11 14:53] bencivjan commented on #67
@jeemok Hey! Is help still needed on this issue?

[2022-04-12 10:38] jeemok commented on #67
hey @bencivjan, yes please! :)

[2022-05-12 09:49] dchahuan commented on #67
Hey would you like this to be added as a column or a another table?

[2022-05-30 07:39] Sujay-shetty opened #80 "Audit not executing if github url present in package.json"
Hi,

If in package.json github url is included then better-npm-audit throwing below error, any way is it possible to handle this scenario.

package.json
`{
  "name": "my application",
  "version": "1.0.0",
  "description": "Application",
  "main": "app.js",
  "scripts": {
    "start": "node app.js"
  },
  "license": "UNLICENSED",
  "dependencies": {
    "body-parser": "^1.19.0",
    "compression":

[2022-06-22 12:20] kevinvanrijn commented on #80
This is an npm issue not a better-npm-audit issue but since I hit this page through Google I might as well provide a solution.

The latest versions of npm 6, 7, and 8 are all able to handle this situation. So update your npm. If you're just using whatever npm version came with Node.js then updating it wholesale would also solve your problem.

It's specifically older versions of npm 6 that error ou

[2022-07-13 10:51] NLRemco opened #81 "Recommended "--omit=dev" option not found for NPM 8"
**Description**
When using NPM version >= 8 the --omit=dev option is not passed through.

Running the command `better-npm-audit audit -p` results in a warning by NPM advising you to use `--omit=dev` instead.
[code]

 However, when running said command `better-npm-audit audit --omit=dev` an error is spat out:
[code]

Adding the option to better-npm-audit might be beneficial as currently it's produc

[2022-10-04 14:09] jackd248 opened #82 "JSON output"
Will there be an option to display the audit results in JSON format?

[2022-10-05 01:06] jeemok commented on #82
We could add the option, but you could also get the JSON format audit result (with more details) without the help of this library, e.g. `npm audit --json` https://docs.npmjs.com/cli/v8/commands/npm-audit

[2022-10-07 10:06] jackd248 commented on #82
Thanks for the hint, so I will filter the necessary information by my own.

[2022-10-10 15:06] msteel9999 commented on #66
I was getting a similar issue because I misspelled .nsprc as .npmrc

[2022-10-25 07:28] jota0222 opened #85 "Add an option to remove colors"
Just a feature request, if it's possible, **could you add an option to remove the ANSI colors of the output?** I would like to save the output to a file without the need of using `sed` command with regular expressions that are not so regular for any OS and the command also is not always available on Windows.

Thanks for your work, this library has been very helpful to me as a Security reviewer.